.circle{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(black,0.1);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;

    &.red{
        background: red;
    }
    &.blue{
        background: blue;
    }
    &.green{
        background: green;
    }
    &.yellow{
        background: yellow;
        color: black;
    }
    &.black{
        background: black;
    }
    
}


.circles{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}

.button.agibank{
    background: #266BFF;

    &:hover{
        background: #266BFF;
        opacity: 0.8;
    }

    &.hidden{
        display: none;
    }
}

#agibank{

    // #266BFF

    .button{
        background: #266BFF;

        &:hover{
            opacity: 0.8;
        }
    }

    .card:hover{
        border-color: #266BFF;
    }

}