#recompensa{

    .main{

        .grid{

            .card{ 
                flex-basis: 100%;
            }
        }
    }
}

.modal{

    .content{

        display: grid;
        grid-template-columns: 50% 50%;

        span{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom:10px;

            span{
                margin-left: 6px;
                font-weight: bold;
                margin-bottom:0;
            }
        }

    }
}