.button{
    background: $corp-accent;
    border-radius: $border-radius;
    color: $background;
    border: none;
    padding: 8px 26px;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;

    i{transition: all 0.3s ease;}

    &:hover{
        background: rgba($corp-accent, 0.3);
        color: $corp-accent;
        i{color: $corp-accent;}
    }

    &:disabled{
        background: rgba(black, 0.5);
        color: white;
        i{color: white;}

        &:hover{
            background: rgba(black, 0.5);
            cursor: not-allowed;
        }
    }

    &:hover{
        background: black;
    }

    &.solved{
        background: #00B08F;
        &:hover{
            background: #00B08F;
            color: white;
            cursor: default;
            i{color: white;}
        }
    }

    &.orange{
        background: $orange;
    }
    &.red{
        background: red;

        &:hover{
            background: #9E0000;
            color: white;
            i{color: white;}
        }
    }
    &.green{
        background: $green;
    }
    &.yellow{
        background: $yellow;
    }
    &.grey{
        background: $content-bg !important;
        color: $text-light;
        i{color: $text-light;}
    }
    &.white{
        background: white !important;
    }

    i{
        color: $background;
    }
}
