.card {
    position: relative;
    margin: 1rem 0;
    align-self: center;
    width: 100%;
    padding: 1.5rem;
    text-align: center;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;

    .description{
      margin: 10px 0 20px 0;
      padding-bottom: 20px;
      font-size: 16px;
      border-bottom: 1px solid rgba(black, 0.1);
    }

    form{
      display: flex;
      input{ flex-basis: 60%; }
      button{ flex-basis: 40%; }
    }

    .button{
      margin-left: 6px;
    }
  }
  
  .card:hover,
  .card:focus,
  .card:active {
    color: #0070f3;
    border-color: #0070f3;
  }
  
  .card h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  .card p {
    margin: 0;
    margin-bottom: 20px;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
  .card img {
    max-width: 100%;
    border-radius: 10px;
  }