.block{

    flex-direction: column;

    input{
        margin: 3px 0;
    }
    button{
        margin: 0!important;
        margin-top: 6px!important;
    }
}

.desafio1{

    input{
        
        &:nth-of-type(1){
            border: 2px solid #00B08F;
            color: #00B08F;
        }
        &:nth-of-type(2){
            border: 2px solid #FFC000;
            color: #FFC000;
        }
        &:nth-of-type(3){
            border: 2px solid #3A70C0;
            color: #3A70C0;
        }
    }
}

.desafio2{

    flex-direction: column;

    .line{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .img-wrapper{
            flex-basis: 16%;
            max-height: 60px;
            position: relative;
            display: flex;
            margin: 3px 6px 3px 0;
            border:1px solid rgba(black, 0.2);
            border-radius: $border-radius;
            justify-content: center;

            img{object-fit: contain;}
        }
        input{
            margin: 3px 0;
            flex-basis: 84%;
        }
    }
    button{
        margin: 0!important;
        margin-top: 6px!important;
    }
}

.desafio3{

    flex-direction: column;

    .line{
        
        display: flex;
        margin-bottom: 12px;

        label{
            text-align: left;
            flex-basis: 50%;

            input{padding: 9px 12px;}
            input, select{width: 100%;}

            &:nth-of-type(1){
                margin-right: 6px;
            }
        }

    }

    button{
        margin: 0!important;
        margin-top: 6px!important;
    }

}