@import './_variables.scss';
@import './_reset.scss';

@import './pages/_Home.scss';
@import './pages/_Recompensa.scss';
@import './pages/_Parabens.scss';
@import './pages/_Final.scss';

@import './components/_Header.scss';
@import './components/_Button.scss';
@import './components/_Card.scss';
@import './components/_Modal.scss';
@import './components/_Timer.scss';
@import './components/_Form.scss';

.rounded{
    border-radius: 10px;
    border: 1px solid #eaeaea;
}

.text-center{
    text-align: center;
}

.mb-30{
    margin-bottom: 30px;
}
.mt-20{
    margin-top: 20px !important;
}
.mt-30{
    margin-top: 30px !important;
}

.hidden{
    display: none;
}