html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

input, textarea, select {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid lightgrey;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
}

input:focus, textarea:focus, select:focus {
  border-color: #00A3FF;
  outline: none;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
  border: none;
}

.container {
  min-height: 80vh;
  padding: 0 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main {
  padding: 5rem 1rem;
  padding-top: 0;
  margin: 0 auto;
  max-width: 960px;
  min-width: 50vw;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

img {
  max-width: 100%;
}

.footer {
  width: 100%;
  border-top: 1px solid #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.logo {
  height: 10em;
}

@media (max-width: 800px) {
  .grid {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 1rem;
  }
}

#recompensa .main .grid .card {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: -80px;
  min-height: 20vh;
}

.header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.header .content img {
  max-width: 50vw;
}

@media (max-width: 800px) {
  .header {
    margin-bottom: -50px;
  }
}

.button {
  background: #00A3FF;
  border-radius: 4px;
  color: white;
  border: none;
  padding: 8px 26px;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button i {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button:hover {
  background: rgba(0, 163, 255, 0.3);
  color: #00A3FF;
}

.button:hover i {
  color: #00A3FF;
}

.button:disabled {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.button:disabled i {
  color: white;
}

.button:disabled:hover {
  background: rgba(0, 0, 0, 0.5);
  cursor: not-allowed;
}

.button:hover {
  background: black;
}

.button.solved {
  background: #00B08F;
}

.button.solved:hover {
  background: #00B08F;
  color: white;
  cursor: default;
}

.button.solved:hover i {
  color: white;
}

.button.orange {
  background: #FF7B02;
}

.button.red {
  background: red;
}

.button.red:hover {
  background: #9E0000;
  color: white;
}

.button.red:hover i {
  color: white;
}

.button.green {
  background: #55FB79;
}

.button.yellow {
  background: #FFCE02;
}

.button.grey {
  background: white !important;
  color: #eaeaea;
}

.button.grey i {
  color: #eaeaea;
}

.button.white {
  background: white !important;
}

.button i {
  color: white;
}

.card {
  position: relative;
  margin: 1rem 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  padding: 1.5rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  -webkit-transition: color 0.15s ease, border-color 0.15s ease;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card .description {
  margin: 10px 0 20px 0;
  padding-bottom: 20px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.card form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card form input {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.card form button {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.card .button {
  margin-left: 6px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 1.25rem;
  line-height: 1.5;
}

.card img {
  max-width: 100%;
  border-radius: 10px;
}

.modal-open {
  overflow: hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.modal .img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 4px;
  overflow: hidden;
  min-height: 200px;
  position: relative;
}

.modal .img-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modal.fade .modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}

@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    -webkit-transition: none;
    transition: none;
  }
}

.modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}

.modal.modal-static .modal-dialog {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.modal-dialog-scrollable {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  max-height: calc(100% - 1rem);
}

.modal-dialog-scrollable .modal-content {
  max-height: calc(100vh - 1rem);
  overflow: hidden;
}

.modal-dialog-scrollable .modal-header,
.modal-dialog-scrollable .modal-footer {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}

.modal-dialog-centered {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - 1rem);
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  content: "";
}

.modal-dialog-centered.modal-dialog-scrollable {
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  height: 100%;
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
  max-height: none;
}

.modal-dialog-centered.modal-dialog-scrollable::before {
  content: none;
}

.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  outline: 0;
}

.modal-content .title {
  font-size: 26px;
  color: #00A3FF;
  text-align: left;
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.modal-content .list {
  margin-top: 10px;
}

.modal-content .list .img-wrapper {
  min-height: unset;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: start;
  -webkit-box-align: start;
          align-items: flex-start;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 1px solid white;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
  font-size: 22px;
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  padding: 0 2rem 0 2rem;
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.75rem 2rem;
  padding-top: 1.5rem;
  border: none;
}

.modal-footer > * {
  margin: 0.25rem;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .modal-dialog-scrollable {
    max-height: calc(100% - 3.5rem);
  }
  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 3.5rem);
  }
  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }
  .modal-dialog-centered::before {
    height: calc(100vh - 3.5rem);
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .modal-sm {
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px;
  }
}

.modal-room .card-room {
  padding-top: 16px;
}

.modal-room .card-room .text {
  padding-right: 0;
}

.modal-room .modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-betwee;
      -ms-flex-pack: space-betwee;
          justify-content: space-betwee;
}

.modal-room .modal-body {
  padding-top: 5px;
}

.timer {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 2rem;
}

.block {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block input {
  margin: 3px 0;
}

.block button {
  margin: 0 !important;
  margin-top: 6px !important;
}

.desafio1 input:nth-of-type(1) {
  border: 2px solid #00B08F;
  color: #00B08F;
}

.desafio1 input:nth-of-type(2) {
  border: 2px solid #FFC000;
  color: #FFC000;
}

.desafio1 input:nth-of-type(3) {
  border: 2px solid #3A70C0;
  color: #3A70C0;
}

.desafio2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.desafio2 .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.desafio2 .line .img-wrapper {
  -ms-flex-preferred-size: 16%;
      flex-basis: 16%;
  max-height: 60px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3px 6px 3px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.desafio2 .line .img-wrapper img {
  -o-object-fit: contain;
     object-fit: contain;
}

.desafio2 .line input {
  margin: 3px 0;
  -ms-flex-preferred-size: 84%;
      flex-basis: 84%;
}

.desafio2 button {
  margin: 0 !important;
  margin-top: 6px !important;
}

.desafio3 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.desafio3 .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}

.desafio3 .line label {
  text-align: left;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.desafio3 .line label input {
  padding: 9px 12px;
}

.desafio3 .line label input, .desafio3 .line label select {
  width: 100%;
}

.desafio3 .line label:nth-of-type(1) {
  margin-right: 6px;
}

.desafio3 button {
  margin: 0 !important;
  margin-top: 6px !important;
}

.rounded {
  border-radius: 10px;
  border: 1px solid #eaeaea;
}
/*# sourceMappingURL=globals.css.map */